<div class="comment-like-handler">
  <button class="like-comment-button primary-button" ng-disabled="sendingVote" ng-click="sendVote(1)">
    <span ng-show="userVote > 0">
      <span class="iconify" data-icon="el:chevron-up" data-inline="false"></span>
    </span>
    <span ng-show="userVote <= 0">
      <span class="iconify" data-icon="cil:chevron-top" data-inline="false"></span>
    </span>
  </button>
  <span>
    {{totalVotes}}
  </span>

<!--  <button class="like-comment-button" ng-class="{'uk-disabled': sendingVote}"  ng-click="sendVote(-1)">-->
  <button class="like-comment-button primary-button" ng-disabled="sendingVote"  ng-click="sendVote(-1)">
    <span ng-show="userVote < 0">
      <span class="iconify" data-icon="el:chevron-down" data-inline="false"></span>
    </span>
    <span ng-show="userVote >= 0">
      <span class="iconify" data-icon="cil:chevron-bottom" data-inline="false"></span>
    </span>
  </button>

</div>
