<div class="comment uk-padding uk-padding-remove-right uk-padding-remove-vertical">
  <!-- enabled comment view -->
  <div ng-if="comment.enabled">

    <div class="comment-header">
      <div class="comment-avatar">
        <a ng-href="user/{{comment.user.id}}">
          <img class="circle-comment uk-comment-avatar" ng-src="{{comment.user.avatar}}" alt="">
        </a>
      </div>
      <div class="comment-meta uk-margin-small-left uk-margin-right uk-flex uk-flex-column">
        <div class="uk-comment-title">
          <a ng-href="user/{{comment.user.id}}">{{comment.user.username}}</a>
        </div>
        <p class="uk-comment-meta uk-margin-remove-top">
          <pretty-date-directive creation-date="comment.creationDateTime"></pretty-date-directive>
          <span ng-if="comment.edited">{{'LAST_EDITED' | translate:{date:getDateFormatted(comment.lastEditTime)};}}</span>
        </p>
      </div>
      <div class="comment-vote-handler">
        <comment-like-handler-directive total-votes="comment.totalVotes" user-vote="comment.userVote" send-vote-fn="callbackFunctions.vote"></comment-like-handler-directive>
      </div>
    </div>

    <div class="comment-body">
      <editable-comment-body-directive is-editable="isUser && comment.isOwner" body="comment.body"
                                       send-update-fn="callbackFunctions.edit"
                                       start-edit="callbackFunctions.startEdit"></editable-comment-body-directive>
    </div>

    <div class="comment-interactions uk-text-small">

      <span ng-if="isUser">

        <span ng-if="depth < maxDepth">
          <button class="no-style-button uk-link link-muted" ng-click="callbackFunctions.startReply.fn()"
                  ng-if="isUser && callbackFunctions.startReply">
            <span class="margin-very-small-left margin-very-small-right" uk-icon="icon: commenting; ratio 1"></span>{{'REPLY_COMMENT_BUTTON' | translate}}</button>
        </span>

        <span ng-if="depth >= maxDepth">
          <button class="no-style-button uk-link link-muted" ng-click="openGoToViewModal()">
          <span class="margin-very-small-left margin-very-small-right" uk-icon="icon: commenting; ratio 1"></span>{{'REPLY_COMMENT_BUTTON' | translate}}</button>
        </span>


        <button ng-if="isAdmin" class="no-style-button uk-link link-muted" ng-click="openDeleteModal()">
          <span class="margin-very-small-left margin-very-small-right" uk-icon="icon: trash; ratio 1"></span>{{'DELETE_COMMENT_BUTTON' | translate}}</button>

        <button class="no-style-button uk-link link-muted" ng-if="isUser && comment.isOwner && callbackFunctions.startEdit"
                ng-click="callbackFunctions.startEdit.fn()">
          <span class="margin-very-small-left margin-very-small-right" uk-icon="icon: pencil; ratio 1"></span>{{'EDIT_COMMENT_BUTTON' | translate}}</button>
      </span>

      <a class="link-muted uk-link" ng-href="mailto:{{comment.user.email}}">
        <span class="margin-very-small-left margin-very-small-right" uk-icon="icon: mail; ratio 1"></span>{{'MAIL_AUTHOR_COMMENT_BUTTON' | translate}}</a>

      <a class="link-muted uk-link" ng-href="comment/{{comment.id}}">
        <span class="margin-very-small-left margin-very-small-right" uk-icon="icon: plus-circle; ratio 1"></span>{{'GO_TO_VIEW_COMMENT_BUTTON' | translate}}</a>
    </div>

  </div>

  <!-- deleted comment view -->
  <div ng-if="!comment.enabled">
    <div class="comment-header">
      <div class="comment-avatar">
        <img class="circle-comment" src="resources/images/avatar.jpg" alt="">
      </div>
      <div class="comment-meta uk-margin-small-left uk-margin-right uk-flex uk-flex-column">
        <p class="uk-comment-title">{{'DELETED_COMMENT_MESSAGE' | translate}}</p>
      </div>
    </div>
    <div class="comment-body">
      <div ng-if="isAdmin">
        <p>[ {{comment.body}} ]</p>
      </div>
    </div>
  </div>

  <div class="uk-margin-small uk-margin-remove-left uk-margin-remove-left" >

    <div class="show-reply uk-padding-small uk-padding-remove-bottom">

      <div ng-if="isUser">
        <comment-reply-directive parent-id="{{comment.id}}" start-reply="callbackFunctions.startReply"
                                 send-comment-fn="callbackFunctions.reply"></comment-reply-directive>
      </div>

      <button class="no-style-button uk-link link-muted"
              ng-if="hasChildren() && !showChildren.value" ng-click="showChildren.value = true">
        <ng-pluralize count="currentChildren" when="repliesForm"></ng-pluralize></button>
    </div>
    <div ng-if="showChildren.value">
      <comment-tree-directive depth="depth + 1" comments="comment.children"></comment-tree-directive>
    </div>
  </div>

</div>

<!--delete modal-->
<div ng-if="isAdmin" id="delete-comment-modal-{{comment.id}}" uk-modal>
  <div class="uk-modal-dialog" ng-if="deletingComment ">
    <div class="uk-modal-header">
      <h1 class="uk-modal-title">{{'CONFIRM_COMMENT_DELETE_MODAL_TITLE' | translate}}</h1>
    </div>
    <p class="uk-padding-small word-brake">{{'CONFIRM_COMMENT_DELETE_MODAL_BODY' | translate: {commentBody: comment.body};}}</p>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close uk-text-primary uk-border-rounded"
              type="button" ng-disabled="sendingDelete.value">{{'CONFIRM_COMMENT_DELETE_MODAL_CANCEL_BUTTON' | translate}}</button>
      <button class="uk-button uk-button-primary uk-button-danger uk-border-rounded" type="button"
              ng-disabled="sendingDelete.value" ng-click="confirmDelete()">{{'CONFIRM_COMMENT_DELETE_MODAL_DELETE_BUTTON' | translate}}</button>
    </div>
  </div>
</div>

<!-- reply modal-->
<div ng-if="isAdmin" id="go-to-comment-view-modal-{{comment.id}}" uk-modal>
  <div class="uk-modal-dialog" ng-if="tryingReply">
    <div class="uk-modal-header">
      <h1 class="uk-modal-title">{{'CONFIRM_GO_TO_COMMENT_VIEW_MODAL_TITLE' | translate}}</h1>
    </div>

    <p>{{'CONFIRM_GO_TO_COMMENT_VIEW_MODAL_BODY' | translate}}</p>

    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close uk-text-primary uk-border-rounded"
              type="button" ng-disabled="sendingDelete.value">{{'CONFIRM_GO_TO_COMMENT_VIEW_MODAL_CANCEL_BUTTON' | translate}}</button>
      <a class="uk-button uk-button-primary" href="comment/{{comment.id}}">{{'CONFIRM_GO_TO_COMMENT_VIEW_MODAL_GO_BUTTON' | translate}}</a>
    </div>
  </div>
</div>
