<div>
  <ul class="ul">
    <li class="li" ng-repeat="comment in comments">
      <div>
        <comment-display-directive depth="depth" comment="comment"></comment-display-directive>
      </div>
    </li>
  </ul>
  <div ng-if="newReplyCount > 0" class="uk-padding-remove-horizontal uk-padding-small">
     <button class="no-style-button uk-link link-muted uk-margin-small-left"
             ng-disabled="loadingMore" ng-click="showMore()">SHOW {{newReplyCount}} MORE REPLIES</button>
  </div>
</div>
