<div>
  <!-- enabled comment view -->
  <div ng-if="comment.enabled" style="border: 2px solid black;">

    <p>ID: {{comment.id}} - {{comment.user.username}} - enabled {{comment.enabled}}</p>

    <editable-comment-body-directive is-editable="isUser && comment.isOwner" body="comment.body" send-update-fn="callbackFunctions.edit"></editable-comment-body-directive>

    <button ng-if="isAdmin" ng-click="deleteComment()">DELETE</button>

    <div ng-if="isUser">
      <button ng-click="writtingReply.value = true">REPLY</button>

      <comment-like-handler-directive user-vote="comment.userVote" send-vote-fn="callbackFunctions.vote"></comment-like-handler-directive>

      <div ng-if="writtingReply.value">
        <button ng-click="writtingReply.value = false">HIDE REPLY</button>
        <comment-reply-directive parent-id="{{comment.id}}" send-comment-fn="callbackFunctions.reply"></comment-reply-directive>
      </div>
    </div>
  </div>

  <!-- deleted comment view -->
  <div ng-if="!comment.enabled">
    <p style="color: red">DELETED COMMENT</p>
    <div ng-if="isAdmin">
      <p>[COMMENT BODY] {{comment.body}}</p>
    </div>
  </div>

  <div ng-if="hasChildren()">

    <button ng-if="!showChildren.value" ng-click="showChildren.value = true">SHOW CHILDREN</button>
    <div ng-if="showChildren.value">
      <comment-tree-directive comments="comment.children"></comment-tree-directive>
    </div>
  </div>

</div>
