<form name="replyForm" ng-if="writtingReply.value">
  <fieldset class="uk-fieldset">
    <div class="uk-margin">
      <textarea class="uk-textarea resize-vertical"
                rows="5" name="replyBody"
                ng-model="body.content"
                placeholder="REPLY PLACE HOLDER"
                autofocus
                ng-disabled="sendingComment">
      </textarea>
    </div>
    <p class="uk-text-muted uk-align-left">{{body.content.length}}/{{maxLen}}</p>
    <div class="uk-align-right">
      <button class="uk-button uk-button-primary uk-border-rounded"
              ng-disabled="sendingComment" type="button" ng-if="startReply"
              ng-click="writtingReply.value = false">
        CANCEL REPLY
      </button>
      <button class="uk-button uk-button-primary uk-border-rounded"
              ng-disabled="body.content.length > 400 || sendingComment || body.content.length <= 0" type="button"
              ng-click="sendComment()">
        SEND REPLY
      </button>
    </div>
  </fieldset>
</form>
