<div>
  <comments-filters-handler-directive filter-params="filterParams"></comments-filters-handler-directive>
  <div ng-show="comments.length === 0" class="uk-margin-small-top">
    <h1 class="uk-text-meta uk-text-center uk-text-bold">{{'COMMENT_NOT_FOUND' | translate}}</h1>
  </div>
  <div ng-show="comments.length > 0">
    <div ng-repeat="comment in comments">
      <comment-list-entry-directive admin-controls="adminControls" remove-comment-fn="removeComment" comment="comment"></comment-list-entry-directive>
    </div>
    <pagination-handler-directive
      pagination-params="paginationParams"
      reset-pagination-fn="resetPagination"
      search-fn="execSearch"
      mutex="paginationMutex" />
  </div>
</div>
