# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
out/

# Mac
.DS_Store
 
# Maven
log/
target/

#VSCode
.vscode/
.factorypath
.factorypath/

# Exclude Frontend Library Modules
/frontend/node_modules/
