<div class="jumbotron">

	<tab-display-directive tabs="postOrders" tab-selected="order.value" ></tab-display-directive>
  <div class="uk-grid">
    <div class="uk-width-expand uk-margin-small-top">
      <div ng-show="order.value === 'hottest'">
        <fetch-posts-directive default-page-size="35" order="order.value" enabled="true" path="/posts" ></fetch-posts-directive>
      </div>

      <div ng-show="order.value === 'newest'">
        <fetch-posts-directive default-page-size="35" order="order.value" enabled="true" path="/posts" ></fetch-posts-directive>
      </div>
    </div>
  </div>

</div>
