<div class="uk-flex uk-flex-wrap">
  <div class="uk-width-1-1">
    <div class="uk-flex">
      <div ng-if="adminControls" class="uk-width-auto uk-margin-auto-vertical">
        <button class="uk-button uk-button-default uk-border-rounded uk-margin-right restore-btn"
                type="button" ng-click="recoverComment()"
        >
          {{'RESTORE' | translate}}
        </button>
      </div>
      <div class="uk-width-expand uk-margin-small-top uk-text-truncate">
        <a class="uk-text-italic text-lead" ng-href="comment/{{comment.id}}">
          {{getBodyFormatted(comment.body)}}
        </a>
        <p class="uk-text-capitalize uk-text-meta uk-margin-remove-vertical uk-text-truncate">
          <span ng-if="comment.user.enabled">
           {{'COMMENT_BY' | translate:{username:comment.user.username};}}
          </span>
          <span ng-if="!comment.user.enabled">
            {{'COMMENT_BY_REMOVED' | translate }}
          </span>
<!--          {{'COMMENT_META' | translate:{title:comment.originalElement.post.title, votes:comment.totalVotes};}}-->
          <span uk-icon="icon: {{comment.totalVotes >= 0 ? 'chevron-up' : 'chevron-down'}}; ratio: 0.8"></span>
        </p>
      </div>
      <div class="uk-width-auto">
        <p class="uk-text-meta uk-text-right uk-margin-small-top uk-margin-remove-bottom uk-padding-small">
          <pretty-date-directive creation-date="comment.creationDateTime"></pretty-date-directive>
        </p>
      </div>
    </div>
  </div>
</div>
