<div class="uk-width-1-1">
  <div class="uk-grid-small" uk-grid>
    <div ng-if="adminControls" class="uk-width-auto uk-margin-auto-vertical">
      <button class="uk-button uk-button-default uk-border-rounded uk-margin-right restore-btn"
              type="button" ng-click="recoverPost()"
      >
        {{'RESTORE' | translate}}
      </button>
    </div>
    <div class="uk-width-expand uk-margin-small-top uk-margin-small-bottom uk-text-truncate">
      <p class="uk-text-capitalize uk-text-meta uk-margin-remove-vertical">
        <span ng-switch="post.postCategory.name">
            <span ng-switch-when="watchlist" class="iconify small-iconify" data-icon="bi:list-ol" data-inline="false"></span>
            <span ng-switch-when="critique" class="iconify small-iconify" data-icon="ic:outline-rate-review" data-inline="false"></span>
            <span ng-switch-when="news" class="iconify small-iconify" data-icon="fa:newspaper-o" data-inline="false"></span>
            <span ng-switch-when="debate" class="iconify small-iconify" data-icon="octicon:comment-discussion-24" data-inline="false"></span>
        </span>

        <span>{{getCategory() | translate}}</span>
        <span> - </span>

        <span ng-if="post.user.enabled"> {{post.user.name}}</span>
        <span  ng-if="isAdmin(post.user)">
           <span class="iconify admin-badge" data-icon="entypo:shield" data-inline="false" title="{{'ADMIN_TITLE' | translate}}"></span>
        </span>
        <span ng-if="!post.user.enabled"> {{'OWNER_DELETED' | translate}}</span>

        <span>{{'VOTES_DISPLAY' |translate:{votes:post.totalLikes};}}</span>

        <span>
          <span ng-if="post.totalLikes >= 0" uk-icon="icon: chevron-up; ratio: 0.8"></span>
          <span ng-if="post.totalLikes < 0" uk-icon="icon: chevron-down; ratio: 0.8"></span>
        </span>

      </p>

      <a class="text-lead" ng-href="/post/{{post.id}}">
        <span ng-if="post.hasUserBookmarked">
          <span class="iconify small-iconify" data-icon="mdi-bookmark-check" data-inline="false" title="{{'BOOKMARKED_TITLE' | translate}}"></span>
          <span> - </span>
        </span>
        <span>{{post.title}}</span>
      </a>


      <p class="uk-text-capitalize uk-text-meta uk-margin-remove-vertical">
        <ng-pluralize count="post.movies.length" when="moviesDiscussedForm"></ng-pluralize>
        <span ng-repeat="movie in post.movies">
          <a ng-href="/movie/{{movie.id}}">
            {{movie.title}}
          </a>
        </span>
      </p>
    </div>
    <div class="uk-width-auto">
      <p class="uk-text-meta uk-text-right uk-margin-small-top uk-margin-remove-bottom uk-padding-small">
        <pretty-date-directive creation-date="post.creationDate"></pretty-date-directive>
      </p>
    </div>
  </div>
</div>
