<div class="uk-width-1-1">
  <div class="uk-grid-small uk-grid">
    <div ng-if="adminControls" class="uk-width-auto uk-margin-auto-vertical">
      <button class="uk-button uk-button-default uk-border-rounded uk-margin-right restore-btn"
              type="button" ng-click="recoverUser()"
      >
        {{'RESTORE' | translate}}
      </button>
    </div>
    <div ng-if="!adminControls" class="uk-width-1-6 uk-margin-remove">
      <a ng-href="user/{{user.id}}">
        <img class="image-user-display" ng-src="{{user.avatar}}" alt="">
      </a>
    </div>
    <div class="uk-width-expand uk-margin-small-top uk-margin-small-bottom" ng-class="{'uk-padding-remove-left margin-user-display':!adminControls}">
      <div class="uk-flex">
        <div class="uk-width-expand">
          <a ng-href="user/{{user.id}}" class="text-lead" ng-class="{'uk-text-secondary uk-text-bold uk-text-middle':isAdmin}">
          <span ng-if="loggedUser.logged && user.userFollower">
            <span class="iconify small-iconify" data-icon="ri:user-follow-line" data-inline="false" title="{{'FOLLOW_TITLE'| translate}}"></span>
            <span>-</span>
          </span>
            {{user.username}}<span ng-if="isAdmin"><span class="iconify admin-badge" data-icon="entypo:shield" data-inline="false" title="{{'ADMIN_TITLE' | translate}}"></span></span>
          </a>
          <p class="uk-text-meta uk-margin-remove-vertical uk-text-truncate">
            {{'USER_NAME' | translate:{name:user.name};}}
            <span ng-if="user.description.length > 0">
            {{'USER_DESCRIPTION' | translate:{description:user.description};}}
          </span>
            <span ng-if="user.description.length === 0">
            {{'USER_DESCRIPTION_EMPTY' | translate}}
          </span>
          </p>
        </div>
      </div>
    </div>
    <div class="uk-width-auto">
      <p class="uk-text-meta uk-text-right uk-margin-small-top uk-margin-remove-bottom uk-padding-small">
        {{'USER_VOTES' | translate:{votes:user.totalLikes};}}
      </p>
    </div>
  </div>
</div>
