<!DOCTYPE html>
<html ng-controller="LoginCtrl">
<head>
  <title>LOGIN</title>
</head>
<body>
<div class="uk-container uk-container-xsmall uk-margin-medium-top">
  <form novalidate>
    <fieldset class="uk-fieldset">
      <legend class="uk-legend uk-text-uppercase uk-text-center uk-text-bold uk-text-large uk-text-secondary">LOGIN TITLEE</legend>
      <div class="uk-margin">
        <div class="uk-inline uk-width-expand">
          <label>
<!--            <c:choose>-->
<!--              <c:when test="${param.error != null}">-->
<!--                <span class="uk-form-icon icon-error"  uk-icon="icon: user"></span>-->
<!--                <input class="uk-input uk-form-danger" name="username" type="text" placeholder="<spring:message code="user.login.Username"/>"/>-->
<!--              </c:when>-->
<!--              <c:otherwise>-->
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" ng-model="user.username" type="text" placeholder="username"/>
<!--              </c:otherwise>-->
<!--            </c:choose>-->
          </label>
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline uk-width-expand">
          <label>
<!--            <c:choose>-->
<!--              <c:when test="${param.error != null}">-->
<!--                <span class="uk-form-icon icon-error"  uk-icon="icon: lock"></span>-->
<!--                <input class="uk-input uk-form-danger" name="password" type="password" placeholder="<spring:message code="user.login.Password"/>" />-->
<!--              </c:when>-->
<!--              <c:otherwise>-->
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input class="uk-input" ng-model="user.password" type="password" placeholder="password" />
<!--              </c:otherwise>-->
<!--            </c:choose>-->
          </label>
        </div>
<!--        <c:if test="${param.error != null}">-->
<!--          <div id="error">-->
<!--            <p class="uk-text-danger uk-text-center uk-text-bold uk-margin-small-top">-->
<!--              <spring:message code="user.login.badCredentials"/>-->
<!--            </p>-->
<!--          </div>-->
<!--        </c:if>-->
      </div>
      <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid uk-align-center">
        <label class="uk-text-center">
          <input class="uk-checkbox" type="checkbox"> <!-- ng-model="user.remember" -->
          <span class="uk-text-secondary">REMEMBER ME</span>
        </label>
      </div>
      <div class="uk-text-center">
        <input class="uk-button uk-button-primary uk-border-rounded extended-button" type="submit" value="LOGIN" ng-click="login(user)"/>
      </div>
      <div class="uk-text-center uk-text-bold uk-text-muted uk-margin">NO ACCOUNT? <a href="/user/create">SIGNUP</a></div>
    </fieldset>
  </form>

  <div class="uk-text-center">
    <a href="/user/resetPassword">RESET PASSWORD</a>
  </div>
</div>

</body>
</html>
