<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div class="uk-container uk-container-xsmall uk-margin-medium-top">
  <form name="loginForm">
    <fieldset class="uk-fieldset">
      <legend class="uk-legend uk-text-uppercase uk-text-center uk-text-bold uk-text-large uk-text-secondary">{{'USER_LOGIN' | translate}}</legend>
      <div class="uk-margin">
        <div class="uk-inline uk-width-expand">
          <label>
                <span class="uk-form-icon"
                      uk-icon="icon: user"
                      ng-class="{'icon-error': (loginForm.username.$error.required && loginBtnPressed)}"
                ></span>
                <input class="uk-input"
                       ng-model="user.username"
                       ng-class="{'uk-form-danger': (loginForm.username.$error.required && loginBtnPressed)}"
                       type="text"
                       name="username"
                       required
                       placeholder="{{'USER_LOGIN_USERNAME' | translate}}"
                />
          </label>
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline uk-width-expand">
          <label>
                <span class="uk-form-icon"
                      uk-icon="icon: lock"
                      ng-class="{'icon-error': (loginForm.password.$error.required && loginBtnPressed)}"
                ></span>
                <input class="uk-input"
                       ng-class="{'uk-form-danger': (loginForm.password.$error.required && loginBtnPressed)}"
                       ng-model="user.password"
                       type="password"
                       name="password"
                       required
                       placeholder="{{'USER_LOGIN_PASSWORD' | translate}}"
                />
          </label>
        </div>
        <p class="uk-text-danger uk-text-center uk-text-bold uk-margin-small-top" ng-if="loginError">
          {{'FORM_BAD_CREDENTIALS' | translate}}
        </p>
      </div>
      <div class="uk-text-center">
        <input class="uk-button uk-button-primary uk-border-rounded extended-button uk-text-uppercase"
               ng-class="{
               'disabled-primary': (loginForm.password.$error.required || loginForm.username.$error.required) && loginBtnPressed,
               'uk-disabled': (loginForm.password.$error.required || loginForm.username.$error.required) && loginBtnPressed
               }"
               type="submit" value="{{'USER_LOGIN' | translate}}"
               ng-click="login(user)"
        />
      </div>
      <div class="uk-text-center uk-text-bold uk-text-muted uk-margin">{{'USER_LOGIN_NOACCOUNT' | translate}} <a ng-href="/signup">{{'USER_CREATE_SIGNUP_ALT2' | translate}}</a></div>
    </fieldset>
  </form>

  <div class="uk-text-center uk-text-bold">
    <a href="/resetPassword">{{'USER_LOGIN_RESETPASSWORD' | translate}}</a>
  </div>
</div>

</body>
</html>
