<div class="uk-container uk-container-xsmall uk-margin-medium-top" ng-controller="SignupCtrl">

  <legend class="uk-legend uk-text-uppercase uk-text-center uk-text-bold uk-text-large uk-text-secondary">
    {{'USER_CREATE_SIGNUP' | translate}}
  </legend>
  <p class="uk-text-center uk-text-normal uk-text-italic uk-text-bold">{{'USER_CREATE_SIGNUPDESC' | translate}}</p>
  <form name="signupForm">

    <div class="uk-margin">
      <div class="uk-inline uk-width-expand">
        <label>
          <span class="uk-form-icon"
                uk-icon="icon: info"
                ng-class="{'icon-error': fieldIsNotValid('name') || checkFieldError('name')}"
          ></span>
          <input class="uk-input"
                 type="text"
                 name="name"
                 ng-model="user.name"
                 placeholder="{{'USER_CREATE_NAME' | translate}}"
                 ng-class="{'uk-form-danger': fieldIsNotValid('name') || checkFieldError('name')}"
                 ng-pattern="nameConstrains.pattern"
                 ng-minlength="{{nameConstrains.minLen}}"
                 ng-maxlength="{{nameConstrains.maxLen}}"
                 ng-change="resetFieldErrors('name')"
                 required
          />
        </label>
      </div>
      <div class="uk-text-danger" ng-if="fieldRequired('name')">{{'FORM_FIELD_REQUIRED' | translate}}</div>
      <div class="uk-text-danger" ng-if="signupForm.name.$error.pattern">{{'FORM_NAME_PATTERN_ERROR' | translate}}</div>
      <div class="uk-text-danger" ng-if="signupForm.name.$error.minlength">{{'FORM_MIN_LENGTH_ERROR' | translate : {minLen: nameConstrains.minLen};}}</div>
      <div class="uk-text-danger" ng-if="signupForm.name.$error.maxlength">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: nameConstrains.maxLen};}}</div>
      <div class="uk-text-danger" ng-if="checkFieldError('name')">{{getFieldErrors('name')}}</div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline uk-width-expand">
        <label>
          <span
            class="uk-form-icon"
            uk-icon="icon: mail"
            ng-class="{'icon-error': emailIsNotValid() || checkFieldError('email')}"
          ></span>
          <input class="uk-input"
                 ng-model="user.email"
                 type="email"
                 name="email"
                 placeholder="{{'USER_CREATE_EMAIL' | translate}}"
                 ng-class="{'uk-form-danger': emailIsNotValid() || checkFieldError('email')}"
                 ng-change="resetFieldErrors('email')"
                 required
          />
        </label>
      </div>
      <div class="uk-text-danger" ng-if="fieldRequired('email')">{{'FORM_FIELD_REQUIRED' | translate}}</div>
      <div class="uk-text-danger" ng-if="signupForm.email.$error.email">{{'FORM_EMAIL_PATTERN_ERROR' | translate}}</div>
      <div class="uk-text-danger" ng-if="checkFieldError('email')">{{getFieldErrors('email')}}</div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline uk-width-expand">
        <label>
          <span class="uk-form-icon"
                uk-icon="icon: user"
                ng-class="{'icon-error': fieldIsNotValid('username') || checkFieldError('username')}"
          ></span>
          <input class="uk-input"
                 name="username"
                 type="text"
                 ng-model="user.username"
                 placeholder="{{'USER_CREATE_USERNAME' | translate}}"
                 ng-class="{'uk-form-danger': fieldIsNotValid('username') || checkFieldError('username')}"
                 ng-pattern="usernameConstrains.pattern"
                 ng-minlength="{{usernameConstrains.minLen}}"
                 ng-maxlength="{{usernameConstrains.maxLen}}"
                 ng-change="resetFieldErrors('username')"
                 required
          />
        </label>
      </div>
      <div class="uk-text-danger" ng-if="fieldRequired('username')">{{'FORM_FIELD_REQUIRED' | translate}}</div>
      <div class="uk-text-danger" ng-if="signupForm.username.$error.pattern">{{'FORM_USERNAME_PATTERN_ERROR' | translate}}</div>
      <div class="uk-text-danger" ng-if="signupForm.username.$error.minlength">{{'FORM_MIN_LENGTH_ERROR' | translate : {minLen: usernameConstrains.minLen};}}</div>
      <div class="uk-text-danger" ng-if="signupForm.username.$error.maxlength">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: usernameConstrains.maxLen};}}</div>
      <div class="uk-text-danger" ng-if="checkFieldError('username')">{{getFieldErrors('username')}}</div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline uk-width-expand">
        <label>
          <span class="uk-form-icon"
                uk-icon="icon: lock"
                ng-class="{'icon-error': fieldIsNotValid('password') || checkFieldError('password')}"
          ></span>
          <input class="uk-input"
                 type="password"
                 name="password"
                 ng-model="user.password"
                 placeholder="{{'USER_CREATE_PASSWORD' | translate}}"
                 ng-class="{'uk-form-danger': fieldIsNotValid('password') || checkFieldError('password')}"
                 ng-pattern="passwordConstrains.pattern"
                 ng-minlength="{{passwordConstrains.minLen}}"
                 ng-maxlength="{{passwordConstrains.maxLen}}"
                 ng-change="resetFieldErrors('password')"
                 required
          />
        </label>
      </div>
      <div class="uk-text-danger" ng-if="fieldRequired('password')">{{'FORM_FIELD_REQUIRED' | translate}}</div>
      <div class="uk-text-danger" ng-if="signupForm.password.$error.pattern">{{'FORM_PASSWORD_PATTERN_ERROR' | translate}}</div>
      <div class="uk-text-danger" ng-if="signupForm.password.$error.minlength">{{'FORM_MIN_LENGTH_ERROR' | translate : {minLen: passwordConstrains.minLen};}}</div>
      <div class="uk-text-danger" ng-if="signupForm.password.$error.maxlength">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: passwordConstrains.maxLen};}}</div>
      <div class="uk-text-danger" ng-if="checkFieldError('password')">{{getFieldErrors('password')}}</div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline uk-width-expand">
        <label>
          <span class="uk-form-icon"
                uk-icon="icon: lock"
                ng-class="{'icon-error': fieldIsNotValid('repeatPassword') || passwordsNotEquals()}"
          ></span>
          <input class="uk-input"
                 type="password"
                 name="repeatPassword"
                 ng-model="user.repeatPassword"
                 placeholder="{{'USER_CREATE_REPEATPASSWORD' | translate}}"
                 ng-class="{'uk-form-danger': fieldIsNotValid('repeatPassword') || passwordsNotEquals()}"
                 ng-pattern="passwordConstrains.pattern"
                 ng-minlength="{{passwordConstrains.minLen}}"
                 ng-maxlength="{{passwordConstrains.maxLen}}"
                 required
          />
        </label>
      </div>
      <div class="uk-text-danger" ng-if="fieldRequired('repeatPassword')">{{'FORM_FIELD_REQUIRED' | translate}}</div>
      <div class="uk-text-danger" ng-if="signupForm.repeatPassword.$error.pattern">{{'FORM_PASSWORD_PATTERN_ERROR' | translate}}</div>
      <div class="uk-text-danger" ng-if="signupForm.repeatPassword.$error.minlength">{{'FORM_MIN_LENGTH_ERROR' | translate : {minLen: passwordConstrains.minLen};}}</div>
      <div class="uk-text-danger" ng-if="signupForm.repeatPassword.$error.maxlength">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: passwordConstrains.maxLen};}}</div>
      <div class="uk-text-danger" ng-if="passwordsNotEquals()">{{'FORM_REPEAT_PASSWORD_ERROR' | translate}}</div>
    </div>

    <div class="uk-grid-small uk-flex uk-flex-wrap uk-flex-row uk-flex-center" uk-grid>
      <div class="uk-width-1-2">
        <p class="uk-margin-bottom uk-text-left">{{'USER_CREATE_SELECTAVATAR' | translate}}</p>
      </div>
      <div class="uk-width-1-2 uk-text-right">
<!--        <c:set var="addAvatarError"><form:errors path="avatar"/></c:set>-->
        <div class="uk-inline uk-width-expand">
          <div uk-form-custom>
            <label>
<!--             TODO: ver como manejar el tema de la imagen -->
              <input path="avatar" type="file" accept="image/*"/>
              <button class="uk-button uk-button-primary uk-border-rounded extended-button uk-text-uppercase" type="button" tabindex="-1">
                {{'USER_CREATE_SELECTFILE' | translate}}
              </button>
            </label>
          </div>
          <p id="avatar-not-uploaded" >{{'USER_CREATE_NOAVATARSELECTED' | translate}}</p>
          <p id="avatar-uploaded" class="hidden">{{'USER_CREATE_AVATARSELECTED' | translate}}
            <span id="file-name"></span>
          </p>
        </div>
<!--        <form:errors path="avatar" element="p" cssClass="error uk-margin-remove-top"/>-->
      </div>
    </div>

    <div class="uk-text-center uk-margin-medium-top">
      <input class="uk-button uk-button-primary uk-border-rounded extended-button uk-text-uppercase"
             type="submit"
             value="{{'USER_CREATE_BUTTON' | translate}}"
             ng-click="signup(user)"/>
    </div>
    <div class="uk-text-center uk-text-bold uk-text-muted uk-margin">
      {{'USER_CREATE_ALREADYACCOUNT' | translate}}
      <a ng-href="/login">
        {{'USER_LOGIN' | translate}}
      </a>
    </div>
    <div>
      <div class="uk-inline uk-width-expand">
        <input type="hidden" path="description"/>
      </div>
    </div>
  </form>
</div>
