<div>
  <div class="uk-margin-auto uk-margin-top">
    <h1 class="uk-article-title uk-margin-auto uk-text-center">
      {{'POST_CREATE' | translate}}
    </h1>
    <hr class="uk-divider-icon">
  </div>
  <div>
    <form name="createPostForm" class="uk-form-stacked uk-margin-auto uk-padding-large uk-padding-remove-vertical" id="post-create-form">
      <div class="uk-margin-left uk-margin-bottom">
        {{'POST_CREATE_CHOOSE_TITLE' | translate}}
        <div class="uk-text-danger" ng-if="fieldRequired(openModalBtnPressed, 'title')">{{'FORM_TITLE_REQUIRED' | translate}}</div>
        <div class="uk-text-danger" ng-if="createPostForm.title.$error.pattern">{{'FORM_NAME_PATTERN_ERROR' | translate}}</div>
        <div class="uk-text-danger" ng-if="createPostForm.title.$error.minlength">{{'FORM_MIN_LENGTH_ERROR' | translate : {minLen: titleConstraints.minLen};}}</div>
        <div class="uk-text-danger" ng-if="createPostForm.title.$error.maxlength">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: titleConstraints.maxLen};}}</div>
        <label class="uk-form-label uk-text-secondary uk-margin-auto">
          <input  class="uk-input"
                  type="text"
                  name="title"
                  ng-model="post.title"
                  placeholder="{{'POST_CREATE_TITLE_PLACEHOLDER' | translate}}"
                  ng-pattern="titleConstraints.pattern"
                  ng-minlength="{{titleConstraints.minLen}}"
                  ng-maxlength="{{titleConstraints.maxLen}}"
                  required
          />
        </label>
      </div>

      <div class="uk-margin-left uk-margin-bottom">
        {{'POST_CREATE_CHOOSE_CATEGORY' | translate}}
        <div class="uk-text-danger" ng-if="fieldRequired(openModalBtnPressed, 'category')">{{'FORM_CATEGORY_REQUIRED' | translate}}</div>
        <label class="uk-form-label uk-text-secondary uk-margin-auto">
          <select  class="uk-select"
                   name="category"
                   ng-model="post.category"
                   required
          >
            <option value="">{{'POST_CREATE_CATEGORY_PLACEHOLDER' | translate}}</option>
            <option ng-repeat="category in postCategories" ng-value="category.id">{{getCategory(category.name) | translate}}</option>
          </select>
        </label>
      </div>
      <div class="uk-margin-left uk-margin-bottom">
        {{'POST_CREATE_WRITE_BODY' | translate}}
        <div class="uk-text-danger" ng-if="bodyRequired(openModalBtnPressed, post.body)">{{'FORM_BODY_REQUIRED' | translate}}</div>
        <div class="uk-text-danger" ng-if="bodyMinLen(openModalBtnPressed, post.body)">{{'FORM_MIN_LENGTH_ERROR' | translate : {minLen: bodyConstraints.minLen};}}</div>
        <div class="uk-text-danger" ng-if="bodyMaxLen(openModalBtnPressed, post.body)">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: bodyConstraints.maxLen};}}</div>
        <label class="uk-form-label uk-text-secondary uk-margin-auto">
          <textarea  class="uk-textarea"
                  id="create-post-data"
                  name="body"
          ></textarea>
        </label>
      </div>

      <div class="uk-text-center">
        <button id="open-modal-button" ng-click="validateForm()" class="uk-button uk-button-primary uk-border-rounded uk-margin-bottom"
                type="button">{{'POST_CREATE_BUTTON' | translate}}</button>
      </div>
      <post-create-modal-directive post-create-fn="createPost"
                                   create-post-btn-pressed="createPostBtnPressed"
                                   create-post-form="createPostForm"
                                   movies-list="moviesList"
                                   movies-titles="moviesTitles"
                                   movie-map="post.movies"
                                   tag-map="post.tags"
                                   tags-constraints="tagsConstraints"

      ></post-create-modal-directive>
    </form>
  </div>


</div>
