<main ng-if="post && post.enabled" class="uk-container-small uk-margin-auto">
  <div class="post-header">
    <div class="post-meta">
      <h1>
        <span ng-if="isUser">
          <button ng-disabled="mutex.bookmark" ng-click="toggleBookmark()" class="no-style-button primary-button">
            <span ng-show="post.hasUserBookmarked">
              <span class="iconify large-iconify"
                    data-icon="mdi-bookmark-check"
                    data-inline="false"></span>
            </span>
                <span ng-show="!post.hasUserBookmarked">
              <span class="iconify large-iconify"
                    data-icon="mdi-bookmark-check-outline"
                    data-inline="false"></span>
            </span>
          </button>
          <span> - </span>
        </span>
        {{post.title}}
      </h1>
      <p>{{'POST_VIEW_POST_AUTHOR' | translate: {postAuthor: post.user.username};}}</p>
    </div>
    <div class="post-vote-handler uk-padding-small">
      <comment-like-handler-directive total-votes="post.totalLikes" user-vote="post.userVote" send-vote-fn="callback.vote"></comment-like-handler-directive>
    </div>
  </div>

  <article ng-if="post.body">
    <editable-post-body-directive body="post.body" is-editable="isUser && post.owner" send-update-fn="callback.edit"></editable-post-body-directive>
  </article>

  <div>
    <span ng-repeat="movie in post.movies">{{movie.title}} - ({{movie.releaseDate}})</span>
  </div>
  <hr>
  <div>
    <button ng-if="isAdmin" ng-disabled="mutex.deleting" ng-click="deletePost()">DELETE POST</button>
  </div>

  <div ng-if="isUser">
    <comment-reply-directive post-id="{{post.id}}" send-comment-fn="newComment.fn"></comment-reply-directive>
  </div>

  <section id="post-comments" ng-if="comments">
    <h1>COMMENT SECTION</h1>
    <comment-tree-directive depth="0" comments="comments"></comment-tree-directive>
  </section>
</main>
