<div class="uk-container uk-container-small uk-margin-auto uk-margin-medium-top">
  <div>
    <h1 class="uk-margin-left uk-text-center">{{'USER_RESET_PASSWORD_HEADER' | translate}}</h1>
    <p class="uk-margin-left uk-text-center uk-text-bold uk-text-italic">
      {{'USER_RESETPASSWORD_VALIDATEDEMAIL' | translate}}
    </p>
  </div>

  <form name="resetPassForm">
    <div class="uk-margin">
      <div class="uk-inline uk-width-expand uk-margin-small-bottom">
        <label>
          <input class="uk-input"
                 ng-class="{'uk-form-danger': (resetPassForm.email.$error.required && btnPressed) || resetPassForm.email.$error.email}"
                 ng-model="email"
                 type="email"
                 name="email"
                 required
                 placeholder="{{'USER_RESETPASSWORD_EMAIL' | translate}}"
                 ng-change="reset()"
          />
        </label>
      </div>
      <div class="uk-text-danger" ng-if="resetPassForm.email.$error.required && btnPressed">{{'FORM_FIELD_REQUIRED' | translate}}</div>
      <div class="uk-text-danger" ng-if="resetPassForm.email.$error.email">{{'FORM_EMAIL_PATTERN_ERROR' | translate}}</div>
    </div>

    <div class="uk-margin-top uk-margin-left uk-text-center">
      <input class="uk-button uk-button-primary uk-border-rounded"
             type="submit"
             value="{{'USER_RESETPASSWORD_SEND' | translate}}"
             ng-click="sendEmail()"
      />
    </div>
  </form>

  <div class="uk-text-center uk-text-bold">
    <div class="uk-text-success" ng-show="mailSent">{{'MAIL_FEEDBACK_SUCCESS' | translate}}</div>
    <div class="uk-text-danger" ng-show="mailError">{{'MAIL_FEEDBACK_ERROR' | translate}}</div>
  </div>

</div>
