<div class="uk-container uk-container-xsmall uk-margin-auto uk-margin-medium-top">
  <div>
    <h1 class="uk-text-center">{{'UPDATE_PASS_TITLE' | translate}}</h1>
    <p class="uk-text-center uk-text-bold uk-text-italic">
      {{'UPDATE_PASS_MSG' | translate}}
    </p>
  </div>

  <form name="resetPassForm">
    <div class="uk-margin">
      <div class="uk-inline uk-width-expand">
        <label>
          <span class="uk-form-icon"
                uk-icon="icon: code"
                ng-class="{'icon-error': fieldRequired('token')}"
          ></span>
          <input class="uk-input"
                 type="text"
                 name="token"
                 ng-model="newPass.token"
                 placeholder="{{'UPDATE_PASS_TOKEN' | translate}}"
                 ng-class="{'uk-form-danger': fieldRequired('token')}"
                 required
          />
        </label>
      </div>
      <div class="uk-text-danger" ng-if="fieldRequired('token')">{{'FORM_FIELD_REQUIRED' | translate}}</div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline uk-width-expand">
        <label>
          <span class="uk-form-icon"
                uk-icon="icon: lock"
                ng-class="{'icon-error': fieldIsNotValid('password')}"
          ></span>
          <input class="uk-input"
                 type="password"
                 name="password"
                 ng-model="newPass.password"
                 placeholder="{{'USER_UPDATE_PASSWORD' | translate}}"
                 ng-class="{'uk-form-danger': fieldIsNotValid('password')}"
                 ng-pattern="passwordConstrains.pattern"
                 ng-minlength="{{passwordConstrains.minLen}}"
                 ng-maxlength="{{passwordConstrains.maxLen}}"
                 required
          />
        </label>
      </div>
      <div class="uk-text-danger" ng-if="fieldRequired('password')">{{'FORM_FIELD_REQUIRED' | translate}}</div>
      <div class="uk-text-danger" ng-if="resetPassForm.password.$error.pattern">{{'FORM_PASSWORD_PATTERN_ERROR' | translate}}</div>
      <div class="uk-text-danger" ng-if="resetPassForm.password.$error.minlength">{{'FORM_MIN_LENGTH_ERROR' | translate : {minLen: passwordConstrains.minLen};}}</div>
      <div class="uk-text-danger" ng-if="resetPassForm.password.$error.maxlength">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: passwordConstrains.maxLen};}}</div>
    </div>

    <div class="uk-margin">
      <div class="uk-inline uk-width-expand">
        <label>
          <span class="uk-form-icon"
                uk-icon="icon: lock"
                ng-class="{'icon-error': fieldIsNotValid('repeatPassword') || passwordsNotEquals()}"
          ></span>
          <input class="uk-input"
                 type="password"
                 name="repeatPassword"
                 ng-model="newPass.repeatPassword"
                 placeholder="{{'USER_UPDATE_PASSWORD_CHECK' | translate}}"
                 ng-class="{'uk-form-danger': fieldIsNotValid('repeatPassword') || passwordsNotEquals()}"
                 ng-pattern="passwordConstrains.pattern"
                 ng-minlength="{{passwordConstrains.minLen}}"
                 ng-maxlength="{{passwordConstrains.maxLen}}"
                 required
          />
        </label>
      </div>
      <div class="uk-text-danger" ng-if="fieldRequired('repeatPassword')">{{'FORM_FIELD_REQUIRED' | translate}}</div>
      <div class="uk-text-danger" ng-if="resetPassForm.repeatPassword.$error.pattern">{{'FORM_PASSWORD_PATTERN_ERROR' | translate}}</div>
      <div class="uk-text-danger" ng-if="resetPassForm.repeatPassword.$error.minlength">{{'FORM_MIN_LENGTH_ERROR' | translate : {minLen: passwordConstrains.minLen};}}</div>
      <div class="uk-text-danger" ng-if="resetPassForm.repeatPassword.$error.maxlength">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: passwordConstrains.maxLen};}}</div>
      <div class="uk-text-danger" ng-if="passwordsNotEquals()">{{'FORM_REPEAT_PASSWORD_ERROR' | translate}}</div>
    </div>

    <div class="uk-margin-top uk-margin-left uk-text-center">
      <input class="uk-button uk-button-primary uk-border-rounded"
             type="submit"
             value="{{'UPDATE_PASS_BTN' | translate}}"
             ng-click="changePass()"
      />
    </div>
  </form>

  <div class="uk-text-center uk-text-bold">
    <div class="uk-text-success" ng-show="valid">{{'UPDATE_PASS_SUCCESS' | translate}}</div>
    <div class="uk-text-danger" ng-show="error">{{'UPDATE_PASS_ERROR' | translate}}</div>
  </div>

  <div class="uk-margin-top uk-text-center">
    <span class="uk-text-bold uk-text-muted">{{'UPDATE_PASS_NO_TOKEN' | translate}}
      <a class="uk-text-primary" href="resetPassword">{{'UPDATE_PASS_RESEND_EMAIL' | translate}}</a>
    </span>
  </div>

</div>
