<div class="color-div">
  <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light pink-div"></div>

  <div class="uk-width-1-3 image-profile-position">
    <div class="uk-transition-toggle" tabindex="0">
      <div class="image-profile-shape elevation-effect" uk-form-custom>
        <img class='image-profile-shape' ng-src="{{loggedUser.avatar}}" alt="avatar"/>
        <input id="avatar" name="avatar" type="file" accept="image/*"/>
        <div class="uk-position-bottom-center add-img-btn">
          <span class="iconify uk-transition-fade" data-icon="mdi:camera-plus" data-inline="false"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="main-page">
    <div class="uk-padding-remove uk-text-center" uk-grid>
      <div class="uk-width-1-3">
        <br><br><br><br><br>
        <div class="profile-details-position uk-text-primary">
          <div class="uk-text-danger" ng-show="avatar.error">{{'FORM_AVATAR_SIZE_ERROR' | translate}}</div>
          <div class="uk-flex uk-flex-middle uk-flex-center">
            <span class="uk-text-bold uk-text-large">{{loggedUser.name}} </span>
            <span ng-if="loggedUser.roles.includes('ADMIN')" class="iconify admin-badge" data-icon="entypo:shield" data-inline="false" title="{{'ADMIN_TITLE' | translate}}"></span>
          </div>

          <div class="uk-margin-small-top"><span class="uk-text-bold">@</span>{{loggedUser.username}}</div>


          <hr class="uk-divider-icon">

          <div class="uk-grid-column uk-child-width-1-2 uk-margin-small-bottom" uk-grid>
            <div class="uk-text-right">
              <span class="uk-text-bold">{{loggedUser.followerCount}} </span>
              <ng-pluralize count="loggedUser.followerCount" when="followForms"></ng-pluralize>
            </div>
            <div class="uk-text-left">
              <span class="uk-text-bold">{{loggedUser.totalLikes}}</span>
              <ng-pluralize count="loggedUser.totalLikes" when="voteForms"></ng-pluralize>
            </div>
            <div class="uk-text-bold uk-text-right uk-margin-small-top">{{'USER_PROFILE_CREATION_DATE' | translate}}</div>
            <div class="uk-text-left uk-margin-small-top">{{ loggedUser.creationDate | date: 'MMM yyyy' }}</div>
            <div class="uk-text-bold uk-text-right uk-margin-small-top uk-text-capitalize">{{'USER_CREATE_EMAIL' | translate}}:</div>
            <div class="uk-text-left uk-margin-small-top">{{loggedUser.email}}</div>
          </div>
          <div class="uk-text-italic uk-margin-bottom">
            {{loggedUser.description}}
          </div>
        </div>

        <a class="uk-button uk-button-default uk-border-rounded uk-text-uppercase uk-margin-bottom" href="#edit-info-modal" uk-toggle>
          {{'PROFILE_EDIT_DETAILS' | translate}}
        </a>
      </div>
      <div class="uk-width-2-3">
        <tab-display-directive tab-selected="showing.value" tabs="tabs"></tab-display-directive>

        <div class="uk-width-expand uk-margin-small-top">

          <!--    User Posts    -->
          <div ng-show="showing.value === 'posts'">
            <fetch-posts-directive default-page-size="25" order="'newest'" enabled="true" path="/user/posts" refresh-url-fn="setPostsUrl" ></fetch-posts-directive>
          </div>

          <!--    User Comments    -->
          <div ng-show="showing.value === 'comments'">
            <fetch-comments-directive default-page-size="25" order="'newest'" enabled="true" path="/user/comments" refresh-url-fn="setCommentsUrl" ></fetch-comments-directive>
          </div>

          <!--    User Bookmarked Posts    -->
          <div ng-show="showing.value === 'bookmarks'">
            <fetch-posts-directive default-page-size="25" order="'newest'" enabled="true" path="/user/bookmarked" refresh-url-fn="setBookmarksUrl" ></fetch-posts-directive>
          </div>

          <!--    Users Following      -->
          <div ng-show="showing.value === 'following'">
            <fetch-users-directive default-page-size="25" order="'votes'" enabled="true" path="/user/following" refresh-url-fn="setFollowingUrl" ></fetch-users-directive>
          </div>

        </div>

      </div>
    </div>
  </div>


<!-- UPDATE AVATAR MODAL -->
  <div id="avatar-update-modal" uk-modal>
    <div class="uk-modal-dialog">
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">{{'UPDATE_AVATAR_MODAL_TITLE' | translate}}</h2>
      </div>
      <div class="uk-modal-body">
        {{'UPDATE_AVATAR_MODAL_BODY' | translate}}
        {{avatar.file.name}}
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close uk-text-primary" type="button" ng-click="avatar.file = undefined">{{'UPDATE_AVATAR_MODAL_CANCEL' | translate}}</button>
        <button class="uk-button uk-button-primary" type="button" ng-click="uploadAvatar()">{{'UPDATE_AVATAR_MODAL_ACCEPT' | translate}}</button>
      </div>
    </div>
  </div>

  <!-- EDIT INFO MODAL -->
  <div id="edit-info-modal" uk-modal>
    <div class="uk-modal-dialog">
      <div class="uk-modal-header">
        <h2 class="uk-modal-title">{{'PROFILE_EDIT_DETAILS' | translate}}</h2>
      </div>
      <div class="uk-modal-body">
        <form name="editForm">
          <label>
            <input class="uk-input"
                   type="text"
                   name="name"
                   ng-model="editInfo.name"
                   placeholder="{{'USER_CREATE_NAME' | translate}}"
                   ng-class="{'uk-form-danger': fieldIsNotValid('name') || checkFieldError('name')}"
                   ng-pattern="nameConstrains.pattern"
                   ng-minlength="{{nameConstrains.minLen}}"
                   ng-maxlength="{{nameConstrains.maxLen}}"
                   ng-change="resetFieldErrors('name')"
                   required
            >
          </label>
          <div class="uk-text-danger" ng-if="fieldRequired('name')">{{'FORM_FIELD_REQUIRED' | translate}}</div>
          <div class="uk-text-danger" ng-if="editForm.name.$error.pattern">{{'FORM_NAME_PATTERN_ERROR' | translate}}</div>
          <div class="uk-text-danger" ng-if="editForm.name.$error.minlength">{{'FORM_MIN_LENGTH_ERROR' | translate : {minLen: nameConstrains.minLen};}}</div>
          <div class="uk-text-danger" ng-if="editForm.name.$error.maxlength">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: nameConstrains.maxLen};}}</div>
          <div class="uk-text-danger" ng-if="checkFieldError('name')">{{getFieldErrors('name')}}</div>

          <label>
            <input class="uk-input uk-margin-top"
                   name="username"
                   type="text"
                   ng-model="editInfo.username"
                   placeholder="{{'USER_CREATE_USERNAME' | translate}}"
                   ng-class="{'uk-form-danger': fieldIsNotValid('username') || checkFieldError('username')}"
                   ng-pattern="usernameConstrains.pattern"
                   ng-minlength="{{usernameConstrains.minLen}}"
                   ng-maxlength="{{usernameConstrains.maxLen}}"
                   ng-change="resetFieldErrors('username')"
                   required
            />
          </label>
          <div class="uk-text-danger" ng-if="fieldRequired('username')">{{'FORM_FIELD_REQUIRED' | translate}}</div>
          <div class="uk-text-danger" ng-if="editForm.username.$error.pattern">{{'FORM_USERNAME_PATTERN_ERROR' | translate}}</div>
          <div class="uk-text-danger" ng-if="editForm.username.$error.minlength">{{'FORM_MIN_LENGTH_ERROR' | translate : {minLen: usernameConstrains.minLen};}}</div>
          <div class="uk-text-danger" ng-if="editForm.username.$error.maxlength">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: usernameConstrains.maxLen};}}</div>
          <div class="uk-text-danger" ng-if="checkFieldError('username')">{{getFieldErrors('username')}}</div>

          <label>
            <textarea class="uk-textarea uk-margin-top"
                   rows="5"
                   name="description"
                   type="text"
                   ng-model="editInfo.description"
                   placeholder="{{'USER_DESCRIPTION_PLACEHOLDER' | translate}}"
                   ng-class="{'uk-form-danger': descriptionIsNotValid() || checkFieldError('description')}"
                   ng-maxlength="{{descriptionConstrains.maxLen}}"
                   ng-change="resetFieldErrors('description')"
            ></textarea>
          </label>
          <div class="uk-text-danger" ng-if="editForm.description.$error.maxlength">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: descriptionConstrains.maxLen};}}</div>
          <div class="uk-text-danger" ng-if="checkFieldError('description')">{{getFieldErrors('description')}}</div>
        </form>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close uk-text-primary"
                type="button"
        >
          {{'UPDATE_INFO_MODAL_CANCEL' | translate}}
        </button>
        <button class="uk-button uk-button-primary"
                type="button"
                ng-click="updateUserInfo()"
                ng-class="{'uk-disabled': loading, 'disabled-primary': loading}"
        >
          {{'UPDATE_INFO_MODAL_ACCEPT' | translate}}
        </button>
        <div uk-spinner ng-show="loading"></div>
      </div>
    </div>
  </div>

</div>
