<main ng-if="movie" class="uk-article uk-container uk-container-small uk-margin-medium-top">
  <article id="movie" class="uk-flex uk-flex-wrap">
    <div class="uk-width-1-1">
      <h1 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">
        {{'MOVIE_VIEW_TITLE' | translate:{title:movie.title,year:getYear(movie.releaseDate)};}}
      </h1>
    </div>
    <div class="uk-width-1-3">
      <img class="movie-poster" ng-src="{{movie.poster}}"
      alt="{{'MOVIE_POSTER' | translate:{title:movie.title};}}"/>
    </div>
    <div class="uk-width-expand uk-padding-large uk-padding-remove-top uk-padding-remove-bottom">

      <dl class="uk-description-list uk-margin-small-top">
        <dt class="uk-text-uppercase">{{'MOVIE_ORIGINAL_TITLE' | translate}}</dt>
        <dd>{{movie.originalTitle}}</dd>
        <dt class="uk-text-uppercase">{{'MOVIE_RELEASE_DATE' | translate}}</dt>
        <dd>{{movie.releaseDate}}</dd>
        <dt class="uk-text-uppercase">{{'MOVIE_ORIGINAL_LANGUAGE' | translate}}</dt>
        <dd>{{movie.originalLanguage}}</dd>
        <dt class="uk-text-uppercase">{{'MOVIE_VOTE_AVERAGE' | translate}}</dt>
        <dd>{{movie.voteAverage}}</dd>
        <dt class="uk-text-uppercase"><ng-pluralize count="movie.categories.length" when="categoriesForm"></ng-pluralize></dt>
        <dd>
          <ul class="uk-padding-small uk-padding-remove-right uk-padding-remove-bottom">
              <li ng-repeat="category in movie.categories">
                <a ng-href="{{getCategoryUrl('search', {showing:'movies',movieCategory:category.name})}}">{{getMovieCategory(category.name) | translate}}</a>
              </li>
          </ul>
        </dd>
      </dl>
    </div>
    <div class="uk-width-1-1 uk-margin-medium-top">
      <h2 class="uk-h2">{{'MOVIE_OVERVIEW' | translate}}</h2>
      <p class="uk-text-normal">
        {{movie.overview}}
      </p>
    </div>
  </article>
  <hr>
  <section id="movie-posts">
    <h1 class="uk-h2">{{'MOVIE_POST_ABOUT' | translate}}</h1>
    <fetch-posts-directive default-page-size="5" order="'newest'" enabled-entities="true" path="{{postsPath}}" refresh-url-fn="setNewUrl" ></fetch-posts-directive>
  </section>
</main>

<div ng-if="!movie" class="uk-text-center uk-text-lead uk-margin-top">
  <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
  <p class="uk-text-muted">{{'LOADING' | translate}}</p>
</div>

