<div class="uk-container-small uk-margin-auto">
	<h1>Search Results</h1>

  <input type='text' placeholder='Search'
		ng-model='query.value'
		ng-model-options='{ debounce: 1000 }'
	/>

	<select ng-model='searchOptions.contentType'>
		<option value="posts">posts</option>
		<option value="movies">movies</option>
		<option value="users">users</option>
	</select>

    <div ng-show="searchOptions.contentType === 'posts'">
      <search-posts-directive query="query" enabled="{{true}}"></search-posts-directive>
    </div>

    <div ng-show="searchOptions.contentType === 'users'">
      <search-users-directive query="query" enabled="{{true}}"></search-users-directive>
    </div>

    <div ng-show="searchOptions.contentType === 'movies'">
      <search-movies-directive query="query" enabled="{{true}}"></search-movies-directive>
    </div>
</div>

