<main class="uk-container-small uk-margin-auto uk-padding-small">
  <section id="search-controllers">
    <div class="uk-flex uk-flex-middle">
      <div class="uk-search uk-search-large uk-width-expand">
        <label>
          <span uk-search-icon></span>
          <input class="uk-search-input search-query-input" type="search" placeholder="{{'SEARCH_PLACEHOLDER' | translate}}"
                 ng-model='query.value'
                 ng-model-options='{ debounce: 1000 }'
          />
        </label>
      </div>
    </div>
    <tab-display-directive tab-selected="showing.value" tabs="tabs"></tab-display-directive>
  </section>
  <section id="search-results" class="uk-margin-top">
    <div class="uk-grid">
      <div class="uk-width-expand uk-margin-small-top">
        <div ng-show="showing.value === 'posts'">
          <search-posts-directive query="query" admin-controls="false" load-from-url="showing.value === 'posts'" default-page-size="5" enabled-entities="true" refresh-url-fn="setPostSearchUrl" ></search-posts-directive>
        </div>

        <div ng-show="showing.value === 'users'">
          <search-users-directive query="query" admin-controls="false" load-from-url="showing.value === 'users'" default-page-size="5" enabled-entities="true" refresh-url-fn="setUserSearchUrl" ></search-users-directive>
        </div>

        <div ng-show="showing.value === 'movies'">
          <search-movies-directive query="query" enabled-entities="true" load-from-url="showing.value === 'movies'" default-page-size="5" refresh-url-fn="setMovieSearchUrl" ></search-movies-directive>
        </div>
      </div>
    </div>
  </section>
</main>

