<div class="jumbotron">
	<h1>'Allo, 'Allo!</h1>
	<p class="lead">
		{{ searchOptions.query }}
	</p>
	<input type='text' placeholder='Search'
		ng-model='query.value'
		ng-model-options='{ debounce: 1000 }'
	/>

	<select ng-model='searchOptions.contentType'>
		<option value="posts">posts</option>
		<option value="movies">movies</option>
		<option value="users">users</option>
	</select>

  <div ng-switch="searchOptions.contentType">
    <div ng-switch-when="posts">
      <search-posts-directive query="query" enabled="{{true}}"></search-posts-directive>
    </div>

    <div ng-switch-when="users">
      <search-users-directive query="query" enabled="{{true}}"></search-users-directive>
    </div>

    <div ng-switch-when="movies">
      <search-movies-directive query="query" enabled="{{true}}"></search-movies-directive>
    </div>
  </div>



<!--	<div ng-repeat="(key, value) in searchOptions.params">-->
<!--		<select ng-model='searchOptions.params[key]' ng-change='execSearch()'>-->
<!--			<option ng-repeat="option in getOptionsValue(searchOptions.contentType, key)" ng-value="option">{{option}}</option>-->
<!--		</select>-->
<!--	</div>-->

<!--	<paginated-display type='searchOptions.contentType' collection='paginatedAns.collection' pagination-params='paginatedAns.paginationParams'/>-->
</div>

