<div>
  <div class="uk-text-break" ng-bind-html="htmlBody" ng-if="!editing.value"></div>


  <div ng-if="isEditable">
    <form ng-show="editing.value" name="editForm">
      <fieldset class="uk-fieldset" ng-init="editableBody.value = body" ng-disabled="sendingEdit">
        <div class="uk-margin">
          <textarea name="editBody"
                    id="edit-post-body"
                    ng-model="editableBody.value"
                    autofocus>
          </textarea>
        </div>
        <div ng-if="hasError.value">
          <div class="uk-text-danger" ng-if="hasError.bodyRequired">{{'FORM_BODY_REQUIRED' | translate}}</div>
          <div class="uk-text-danger" ng-if="hasError.bodyMinLen">{{'FORM_MIN_LENGTH_ERROR' | translate : {minLen: bodyConstraints.minLen};}}</div>
          <div class="uk-text-danger" ng-if="hasError.bodyMaxLen">{{'FORM_MAX_LENGTH_ERROR' | translate : {maxLen: bodyConstraints.maxLen};}}</div>
        </div>
        <div class="uk-align-right">
          <button class="uk-button uk-button-default uk-modal-close uk-text-primary uk-border-rounded" ng-click="editing.value = false">{{'CANCEL_POST_BODY_EDIT' | translate}}</button>
          <button class="uk-button uk-button-primary uk-border-rounded"
                  ng-disabled="sendingEdit" type="button"
                  ng-click="sendEdit()">
            {{'SEND_POST_BODY_EDIT' | translate}}
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
