<div ng-repeat="entry in collection">
    <ng-switch on="type">
        <div ng-switch-when="users">
            <list-user-display user="entry"></list-user-display>
        </div>
        <div ng-switch-when="movies">
            <list-movie-display movie="entry"></list-movie-display>
        </div>
        <div ng-switch-when="posts">
            <list-post-display user="entry"></list-post-display>
        </div>
    </ng-switch>
</div>
<pagination-controller pagination-params="paginationParams"></pagination-controller>