<div ng-if="supportedValues && filterParams">
  <div class="uk-flex">
    <div class="uk-width-1-3 uk-flex uk-flex-wrap uk-flex-baseline">
      <label class="uk-padding-small-left uk-margin-small-top uk-form-label uk-margin-small-right uk-width-auto">
        {{'POST_CATEGORIES' | translate}}
      </label>
      <select ng-model='filterParams.postCategory' class="uk-select uk-form-blank uk-width-expand">
        <option value="">{{'ALL_POSTS' | translate}}</option>
        <option ng-repeat="option in supportedValues['postCategory']" ng-value="option">{{option}}</option>
      </select>
    </div>
    <div class="uk-width-1-3 uk-flex uk-flex-wrap uk-flex-baseline">
      <label class="uk-padding-small-left uk-margin-small-top uk-form-label uk-margin-small-right uk-width-auto">
        {{'POST_AGE' | translate}}
      </label>
      <select ng-model='filterParams.postAge' class="uk-select uk-form-blank uk-width-expand">
        <option value="">{{'ANY_TIME' | translate }}</option>
        <option ng-repeat="option in supportedValues['postAge']" ng-value="option">{{option}}</option>
      </select>

    </div>
    <div class="uk-width-1-3 uk-flex uk-flex-wrap uk-flex-baseline">
      <label class="uk-padding-small-left uk-margin-small-top uk-form-label uk-margin-small-right uk-width-auto">
        {{'SEARCH_ORDER_BY' | translate}}
      </label>
      <select ng-model='filterParams.orderBy' class="uk-select uk-form-blank uk-width-expand">
        <option ng-repeat="option in supportedValues['orderBy']" ng-value="option">{{option}}</option>
      </select>

    </div>
  </div>
</div>
